---
import Button from "./Button.astro";
---

<header><Button>Contact me</Button></header>

<style lang="scss">
  header {
    display: inline-flex;
    justify-content: flex-end;
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
  }
</style>
