---
import { SiLinkedin, SiGithub } from "react-icons/si/index";
import { RxHamburgerMenu } from "react-icons/rx/index";
---

<aside id="sidemenu">
  <div class="menu">
    <button id="menu" aria-label="Toggle menu" id="menu" tabindex="0">
      <RxHamburgerMenu color="#008AB8" size="2em" />
    </button>
  </div>
  <nav>
    <ul>
      <li><button id="cv" aria-label="See my CV" tabindex="0">CV</button></li>
      <li>
        <button id="blog" aria-label="Read my blog" tabindex="0">Blog</button>
      </li>
      <li>
        <button id="about" aria-label="Read about me" tabindex="0"
          >About me</button
        >
      </li>
    </ul>
  </nav>
  <div class="socials">
    <button id="linkedin" aria-label="See my LinkedIn"
      ><SiLinkedin color="#008AB8" size="1.5rem" /></button
    >
    <button id="Github" aria-label="See my Github"
      ><SiGithub color="#008AB8" size="1.5rem" /></button
    >
  </div>
</aside>

<style lang="scss">
  @import "../styles/_variables.scss";

  aside {
    grid-row: 1 / span 2;
    grid-column: 1;

    background: var(--primary);
    font-size: 2rem;
    border-right: 1px solid var(--secondary);

    display: flex;
    flex-direction: column;

    @media screen and (max-width: $mobile-breakpoint) {
      grid-row: 2;
      grid-column: 1;
    }

    nav {
      display: flex;

      opacity: 0;
      height: 100%;

      @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
      }

      ul {
        list-style: none;
        padding-left: 1.5em;
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        li {
          position: relative;
          padding-bottom: 0.5em;
          width: 256px;

          button {
            color: var(--secondary);
            font-weight: 600;
            opacity: 0;
            margin-left: 2rem;
            transition: margin-left 0s, opacity 0s;
            font-size: 1rem;
            cursor: pointer;

            @media (prefers-reduced-motion: reduce) {
              margin-left: 1rem;
            }
          }
        }
      }
    }

    &.open {
      nav {
        opacity: 1;

        ul {
          li {
            button {
              margin-left: 1rem;
              opacity: 1;
            }
            @for $i from 1 through 4 {
              &:nth-child(#{$i}) > button {
                transition: margin-left 0.6s ease-in #{$i * 0.2s},
                  opacity 0.6s ease-in #{$i * 0.2s};
                @media (prefers-reduced-motion: reduce) {
                  transition: margin-left 0.6s ease-in 0.2s,
                    opacity 0s ease-in 0.2s;
                }
              }
            }
          }
        }
      }
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 0.5em;
      max-width: 64px;
    }

    .socials {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 0.5em;
      max-width: 64px;
    }

    .menu,
    .socials {
      button {
        margin-bottom: 1em;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
</style>
